body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.background {
    background-color: rosybrown;
}

.square {
    width: 20%;
    margin: 40%;
    height: 65%;
    background-color: brown;
    border-radius: 1em;
    border: 0.1em solid black;
}

.placeholder {
    display: grid;
    grid-template-columns: 1f 1f 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px;
    
}

#display {
    margin-left: 10px;
    margin-right: 10px;
    grid-row-start: 1;
    grid-row-end: 4;
    text-align: right;
    border: none;
    border-radius: 0.5em;
    color: black;
    background-color: aliceblue;
    margin-top: 10px;
    font-size: x-large;
}

.line > a {
    text-decoration: none;
    color: black;
    font-size: large;
}
div > div > a {
    text-decoration: none;
    color: black;
}

.line {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
}

.a {
    background-color: rgb(226, 123, 140);
    height: 60px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
}

.equal {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
    height: 140px;
    
}

.dot {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}

.zero {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}
